.navbar-lewagon {
  // justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  height: 40px;
}

.product-search {
}

.product-search input {
  border: 1px inset rgba(128, 128, 128, 0.5);
  border-radius: 25px;
  width: 649px;
  background-color: rgb(239, 239, 239);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.product-search input:hover {
  border: 1px inset black;
}

.search-btn {
  position: absolute;
  right: 12px;
}

.search-btn i {
  opacity: 0.6;
}

.input-search {
  position: relative;
  display: flex;
}
